@{
    ViewBag.Title = "НОРМАТИВНЫЕ АКТЫ";

}



<ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="/office">Офис</a></li>
    <H3 class="active"><strong>@ViewBag.Title</strong></H3>
</ol>
<div class="row">
    <div class="col-md-6 text-center">


        <H2>ТНПА</H2>
        <p><a href="~/normativka/tkp-predproektnaya-dokumentaciya-sostav-i-poryadok-razrabotki.pdf">ТКП "Предпроектная документация"</a> </p>
        <p><a href="~/normativka/tkp-tehnadzor-45-103-162-2009.pdf">ТКП "Технический надзор в строительстве"</a> </p>
        <p><a href="~/normativka/tkp-organizacia-stroitelnogo-proizvodstwa.pdf">ТКП "Организация строительного производства"</a> </p>

    </div>
        <div class="col-md-6 text-center">

          
            <H2>АКТЫ ЗАКОНОДАТЕЛЬСТВА</H2>
            <p><a href="~/normativka/ukaz-26-po-sovershenstvovaniu-stroitelnoi-deyatelnosti.pdf">Указ Президента РБ №26 "О мерах по совершенствованию строительной деятельности"</a> </p>
            <p><a href="~/normativka/instrukcia-raschet-stoimosti.pdf">Инструкция по расчету стоимости строительства</a> </p>
            <p><a href="~/normativka/perechen-dokumentacii-vvod.pdf">Перечень документации для ввода объекта в эксплуатацию</a> </p>

        </div>
</div>     