
@{
    ViewBag.Title = "ОФИС";

}



<ol class="breadcrumb">
    <li><a href="https://office.tehnadzor.by">Главная</a></li>
    <H3 class="active"><strong>@ViewBag.Title</strong></H3>
</ol>
<div class="row">
    <div class="col-md-3 text-center">
        <h2>ПИСЬМА</h2>
        <p>
          входящие, исходящие

        </p>
        <a class="fa fa-legal fa-4x" href="/office">
        </a>
    </div>
    <div class="col-md-3  text-center">
        <h2>ДОГОВОРЫ</h2>
        <p>по строительству, по деятельности</p>
        <a class="fa fa-contao fa-4x" href="/projects">
        </a>
    </div>
    <div class="col-md-3  text-center">
        <h2>НОРМАТИВНЫЕ АКТЫ</h2>
        <p>тнпа, акты законодательства</p>
        <p>
            <a class="fa fa-comment fa-4x" href="/normativka/perechen">
            </a>


    </div>
    <div class="col-md-3  text-center">
        <h2>БУХГАЛТЕРИЯ</h2>
        <p>акты, счета</p>
        <a class="fa fa-cab fa-4x" href="https://www.devexpress.com/Subscriptions/Reporting/">
        </a>
    </div>
</div>
   </br>    </br> </br> </br> </br> </br> </br> </br>
<div class="row">
   
    <div class="col-md-6">
            <ul class="nav nav-tabs center-block">
                <li role="presentation" class="active"><a href="#">ПИСЬМА</a></li>
                <li role="presentation"><a href="#">ДОГОВОРЫ</a></li>
                <li role="presentation"><a href="#">НОРМАТИВЫ</a></li>
                <li role="presentation"><a href="#">БУХГАЛТЕРИЯ</a></li>
            </ul>
        </div>
</div>



